textarea {
}

/* .CodeMirror-scroll {height: 100%; overflow-y: auto; overflow-x: auto;} */

.CodeMirror {
  margin: 1px;
  padding: 0px;

  border: solid;
  border-width: 1px;
  font-size: 12pt;
  float: left;
  /* height: auto;*/
  /* min-width: 400px;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error-mark {
  float: right;
  color: #dc322f;
  font-size: 18pt;
}
.error-gutter-dark {
  width: 15px;
  /*background: #073642;*/
  background: #002b36;
}
.error-gutter-light {
  width: 15px;
  background: #fdf6e3;
}
.empty-gutter {
  width: 0px;
}
